node_modules/
yarn.lock
*.snap
.prettierignore
.eslintignore

client/*/dist
client/*/reports
client/*/custom.d.ts
client/*/next-env.d.ts
server/*/dist/
server/*/reports
server/*/custom.d.ts

!.eslintrc.js
client/application/.next/
client/application/out_publish
client/application/out_functions

__generated__/

**/dist/*
**/reports/*
**/node_modules/*
